<!DOCTYPE html>
<html>
<body style="background-color:#072440;">
<center>
	<img src="https://dfx.swiss/images/dfxsocials/02.03.2022_DFX_Logo_grund_dunkel_1.png" height="100px" width="156.25px">
	<div style="background-color:#0A355C;color:#FFFFFF;margin:20px;font-family:Open Sans;padding:20px;">
        <p style="font-family:Open Sans;color:#F5516C;font-weight:800;font-size:24px;">{{salutation}}</p>
        {{{body}}}
	</div>
      <table>
        <tr>
            <td style='max-width: 50px;'>
                <a href="{{twitterUrl}}"><img style="padding:20px;height:30px;width:30px;" src="https://dfx.swiss/images/dfxsocials/twitter.png" height="30px" width="50px"></a>
            </td>
            <td style='max-width: 50px;'>
                <a  href="{{telegramUrl}}"><img style="padding:20px;height:30px;width:30px;" src="https://dfx.swiss/images/dfxsocials/telegram.png" height="30px" width="50px"></a>
            </td>
            <td style='max-width: 50px;'>
                <a  href="{{instagramUrl}}"><img style="padding:20px;height:30px;width:30px;" src="https://dfx.swiss/images/dfxsocials/instagram.png" height="30px" width="50px"></a>
            </td>
            <td style='max-width: 50px;'>
                <a href="{{linkedinUrl}}"><img  style="padding:20px;height:30px;width:30px;" src="https://dfx.swiss/images/dfxsocials/linkedin.png" height="30px" width="50px"></a>
            </td>
        </tr>
      </table>
</center>
</body>
</html> 