<h1>{{salutation}}</h1>
<p>
  {{#each prefix}}
    <p style='font-family:{{this.style}}'>
      {{{this.text}}}
      {{#if this.url}}<a style='color:white' href='{{this.url.link}}'>{{this.url.text}}</a>
        {{#if this.url.textSuffix}}{{this.url.textSuffix}}{{/if}}
      {{/if}}
      {{#if this.mail}}<a style='color:white' href='mailto:{{this.mail.address}}'>{{this.mail.address}}</a>
        {{#if this.mail.textSuffix}}{{this.mail.textSuffix}}{{/if}}
      {{/if}}
    </p>
  {{/each}}
</p>
<p></p>
<p>Thanks,</p>
<p>Your DFX team</p>