<!DOCTYPE html>
<html>
<body style="background-color:#072440;">
<center>
	<img src="https://dfx.swiss/images/Logo_DFX/png/DFX_Logo_dark.png" height="100px" width="156.25px">
	<div style="background-color:#0A355C;color:#FFFFFF;margin:20px;font-family:Open Sans;padding:20px;">
        <p style="font-family:Open Sans;color:#F5516C;font-weight:800;font-size:32px;">We have arranged the bank transfer</p>
        {{body}}
		<p style="font-family:Open Sans">The payment has just left our bank account and will be visible on your bank account shortly<br>In the meantime the bank performances are responsible for the wire transfer duration</p>
		<p style="font-family:Open Sans">Thank you for using the DFX withdrawal service</p>
		<p style="font-family:Open Sans">Your DFX Team<br>Bitcoiners by heart ♥</p>
        <p style="font-family:Open Sans"></p>
	</div>
      <table>
        <tr>
            <td style='max-width: 40px;'>
                <a href="{{twitterUrl}}"><img style="padding:10px;height:30px;width:30px;" src="https://dfx.swiss/images/dfxsocials/twitter.png" height="30px" width="30px"></a>
            </td>
            <td style='max-width: 40px;'>
                <a  href="{{telegramUrl}}"><img style="padding:10px;height:30px;width:30px;" src="https://dfx.swiss/images/dfxsocials/telegram.png" height="30px" width="30px"></a>
            </td>
            <td style='max-width: 40px;'>
                <a  href="{{instagramUrl}}"><img style="padding:10px;height:30px;width:30px;" src="https://dfx.swiss/images/dfxsocials/instagram.png" height="30px" width="30px"></a>
            </td>
            <td style='max-width: 40px;'>
                <a href="{{linkedinUrl}}"><img  style="padding:10px;height:30px;width:30px;" src="https://dfx.swiss/images/dfxsocials/linkedin.png" height="30px" width="30px"></a>
            </td>
        </tr>
      </table>
</center>
</body>
</html>